.menu1 {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    nav ul li {
        margin-right: 20px;
        }
    
        nav ul li a {
        text-decoration: none;
        color: #fff;
       
        font-weight: bold;
        }
    
        nav ul li a:hover {
        color: #A020F0;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #ffffff;
        }



nav ul li {
    margin-right: 20px;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;

    font-weight: bold;
}

nav ul li a:hover {
    color: #A020F0;
}


ul {  
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 33%;
}

.footer-column h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #aaa;
    text-decoration: none;
    font-size: 23px;
}

.footer-column ul li a:hover {
    color: #fff;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}

h3 {
    text-align: center;
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.not {

    margin-right: 80px;
    float: right;
    width: 40%;
}

.not {
    margin-top: -360px;
    align-items: end;
}

.texto {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 90px;
    font-size: 23px;
}

.cell {
    margin-top: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 50px;
}

.sobre {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 50px;
    font-size: 23px;
}
#x{
    padding-right: 100px;
    padding-left: 100px;
    font-size: 23px;
}
